<!DOCTYPE html>
  <head>
    <title>SmileDetector - Analysis</title>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700&display=swap&subset=latin-ext" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/fontawesome-all.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/swiper.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/magnific-popup.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/styles.css')}}" rel="stylesheet">
	
	<!-- Favicon  -->
    <link rel="icon" href="{{ url_for('static', filename='images/logo.png')}}">
  </head>
  <body>
    <video autoplay="true" id="videoElement" hidden>
    </video>
    <canvas id="canvasElement" hidden></canvas>
    <center>
    <h1>Video Streaming Demonstration</h1>
    <iframe id="ytplayer" type="text/html" width="640" height="360"
  src="https://www.youtube.com/embed/{{ url }}?autoplay=1&mute=1&enablejsapi=1"
  frameborder="0"></iframe><br><hl></hl>
    <img id="imageElement" src="{{ url_for('video_feed') }}" style=" height: 300px;">
    </center>
    
    
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>


  </body>
</html>
